body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
}

.l {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.right {
  margin-top: 20px;
  margin-bottom: 20px;
}

table {
  border-collapse: collapse;
  box-sizing: border-box;
}

td {
  border: 1px solid grey;
  width: 450px;
  height: 40px;
  text-align: center;
}

#table_block td     {background: white; color: black}
#table_block td.act {background: aqua; color: white}
